<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245135595382-crso709jhj62ln2ganjluvi046sfokmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245135595382-crso709jhj62ln2ganjluvi046sfokmi</string>
	<key>API_KEY</key>
	<string>AIzaSyDYLO5P9uxNwuW9G7lANfT6Ng5qDT4raCs</string>
	<key>GCM_SENDER_ID</key>
	<string>245135595382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.brassroots</string>
	<key>PROJECT_ID</key>
	<string>brassroots-dc318</string>
	<key>STORAGE_BUCKET</key>
	<string>brassroots-dc318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245135595382:ios:a591e6225f5b915e</string>
	<key>DATABASE_URL</key>
	<string>https://brassroots-dc318.firebaseio.com</string>
</dict>
</plist>